# Environment Variables
# Copy this file to .env and update the values

VITE_API_BASE_URL=http://localhost:5000/api
VITE_WEB_BUILDER_SERVICE_URL=http://localhost:3004
VITE_GOOGLE_CLIENT_ID=replace-with-google-oauth-client-id
VITE_MICROSOFT_CLIENT_ID=replace-with-microsoft-application-client-id
VITE_GOOGLE_FONTS_API_KEY=replace-with-google-fonts-api-key
VITE_WEBSITE_BUILDER_LICENSE_KEY=7560c2162e0840c48d8436e090b0d1c275fbab9659b54ebc83f4123cc00162da

# Custom Domain Instructions Configuration
VITE_SYSTEM_BASE_DOMAIN=localhost
VITE_SYSTEM_IP=127.0.0.1
